.slogan-logo-register {
    display: none;
}


@media (min-width: 768px) {

    .slogan-logo-register {
        display: block;
        margin-right: 146px;
        line-height: 70px;
    }

    .page-register {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
    }
}
