.header-container {
    height: 80px;
    background-color: var(--color-gray-0);
}

.header-container a {
    color: #BDBDBD;
    font-size: 27px;
    margin-right: 20px;
}

.button-logout {
    color: #BDBDBD;
    font-size: 27px;
    margin-right: 20px;
    cursor: pointer;
}


.button-search {
    background: none;
    border: none;
    cursor: pointer;
    color: #BDBDBD;
    font-size: 27px;
    margin-right: 20px;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}